* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background: url("./../public/img/fiol.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    color: #fff;
}

html,
body {
    height: 100%;
    overflow: hidden;

}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 16px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
   
    
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #aa055a;
    border-radius: 100%;
    box-shadow: inset 1px 1px 10px #f3faf7;


    cursor: pointer;
    border-color: #7c7c7c;
    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25) 63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
    border: 2px solid #7c7c7c;

    box-shadow: 1px 1px 1px 1px #000000, inset 1px 1px 1px 0px #000000, 8px 31px 13px 23px rgba(124, 124, 124, 0);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #52f6e2;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}







@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.blik {
    overflow: hidden;
    position: relative;
}

.blik:after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    filter: blur(30px);
    transform: skewX(30deg) translateZ(0);
    transition: 1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}







.btn_glass {
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    /* user-select: none; */
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    
    background-image:
     linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
     linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;

    min-width: 380px;
    display: flex;
    justify-content: center;

  }
  .btn_glass:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  }
  .btn_glass:active {
    top: 1px;
  }
  



  .btn-primary{
    font-size: 24px;
    border: 0;

    text-transform: uppercase;
    background-clip: text;
    background-image: linear-gradient(180deg, #FFFFFF 21.75%, #1A3031 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .show{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-menu{
    width: 80%;
  }
  .dropdown-item{
    display: flex;
    justify-content: center;
  }

/* 
  .btn-primary{
    background: none;
    border: 0;
  }

  .btn-primary:hover{
    background: none;
    border: 0;
  }

  .btn-primary:focus{
    background: none;
    border: 0;
  }


  .btn-primary:active{
    background: transparent !important;
  } */