.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 500px;
    height: 100px;
    padding: 30px 20px;
    background: rgb(114, 5, 105, 0.05);

    border: 2px solid #7c7c7c;
    border-radius: 20px;
    backdrop-filter: blur(80px);
    cursor: pointer;

    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 8px 31px 13px 23px rgba(124, 124, 124, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 8px 31px 13px 23px rgba(124, 124, 124, 0);


    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}