.tovar_task_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 99%;

    background: rgb(114, 5, 105, 0.05);

    border: 2px solid #7c7c7c;
    border-radius: 20px;
    backdrop-filter: blur(90px);
    cursor: pointer;

    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 8px 31px 13px 23px rgba(124, 124, 124, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 8px 31px 13px 23px rgba(124, 124, 124, 0);
    margin: 6px 2px;
}

.this_tovar_added_for_delivery {

    backdrop-filter: blur(10px);
    box-shadow:
        1px 3px 7px 0px rgb(137, 47, 255),
        inset 4px 4px 7px 0px rgb(137, 47, 255),
        inset 0px 0px 123px 20px rgba(137, 47, 255, 0.793);
}

.quantity_has_been_changed {

    backdrop-filter: blur(10px);
    box-shadow:
        1px 3px 7px 0px rgba(47, 200, 255, 1),
        inset 4px 4px 7px 0px rgba(47, 200, 255, 1),
        inset 0px 0px 123px 20px rgba(47, 200, 255, 0.3);
}

.tovar_task_container_done {

    backdrop-filter: blur(10px);
    box-shadow:
        1px 3px 7px 0px rgb(47, 255, 78),
        inset 4px 4px 7px 0px rgb(47, 255, 78),
        inset 0px 0px 123px 20px rgba(47, 255, 78, 0.3);

}

.tovar_task_must_be_deleted {

    backdrop-filter: blur(10px);
    box-shadow:
        1px 3px 7px 0px rgb(255, 47, 78),
        inset 4px 4px 7px 0px rgb(255, 47, 57),
        inset 0px 0px 123px 20px rgba(255, 47, 47, 0.3);

}

.tovar_packaging_is_suspended {

    backdrop-filter: blur(10px);
    box-shadow:
        1px 3px 7px 0px rgb(43, 41, 3),
        inset 4px 4px 7px 0px rgb(43, 41, 3),
        inset 0px 0px 123px 20px rgb(43, 41, 3);

}


.item {
    height: 100%;
    font-weight: 400;
    font-size: 30px;
    color: transparent;
    width: 94%;
    /* -webkit-background-clip: text; */
    /* background-clip: text; */



    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    /* overflow: hidden; */
}

.task_id_value {
    width: 5%;
    font-family: MOSCOW, Arial, serif;
    color: #08b5ff;
    font-size: 32px;
}

.line {
    border: 1px solid #7c7c7c;
    height: 100%;
    width: 1px;
}

.photo_for_tovars {
    height: 100%;
    width: auto;
}

.line_mini {
    border: 1px solid #7c7c7c;
    height: 74%;
    width: 1px;
}

.itemFoto {
    width: 25%;
    overflow: hidden;
}

.tovar_name {
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 15%;
    cursor: auto;
}

.barcode_info {
    width: 40%;
}

.barcode_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.barcode_download_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;

}

.barcode_download_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-color: #7c7c7c;
    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25) 63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));

    box-sizing: border-box;

    font-size: 26px;
    font-weight: 400;

    color: #08b5ff;
    letter-spacing: 3px;
    -webkit-text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    -moz-text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 6px 08b5ff;

    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25) 63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));

    /* text-shadow: -3px 1px 16px #000; */
    /* border: 2px solid #7c7c7c; */
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    transition: all 0.2s;
}

.barcode_download_btn:hover {
    color: rgb(82, 246, 226);
    font-size: 40px;
    width: 60px;
    height: 60px;

}

.box_number {
    width: 5%;
    height: 100%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.BsFillBoxSeamFill {
    font-size: 54px;
    display: visible;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    color: rgb(64, 255, 47)
}

.wrapper_number{
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    position: absolute;
    margin-top: 14px !important;
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: bold;
    /* font-family: VENUS, Arial, serif; */
    font-family: MOSCOW, Arial, serif;
    color: #000000;
}

.tovar_number_flexBox{
    width: 100%;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:  20px 0;

}

.tovar_number{
    font-family: MOSCOW, Arial, serif;
    font-size: 40px;
}












































































