.close_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
    position: absolute;

    color: red;
    font-size: 30px;
    cursor: pointer;

}